footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    border-top: 2px solid #a57171b3;
    height: 35px;
    padding: 7px 20px 0px 0px;
    margin: 0px 40px;
    font-family: 'IBM Plex Mono', monospace;
    z-index: 11;
    background: #fff;
}

address{
 text-align: right;
 font-size: 12px;
 color: rgb(82, 47, 47);
}

footer a , footer a:hover, footer a:active{
    color: rgb(82, 47, 47) !important;
}

@media screen and (max-width: 400px) {
    footer{
        height: 40px;
        padding: 5px 20px 0px 0px;
    }
    address{
        font-size: 10px;
       }
       
}
