  .btn{
      background: brown;
      color:#fff;
  }
  .form-title{
    font-family: 'Kaushan Script', cursive;
    color: rgb(82, 47, 47);
  }
.signup-image-link{
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(82, 47, 47);
    font-size: 25px;
}