<header>
  <div *ngIf="userData.auth" class="user-data">
    <img src="{{userData.avatar}}" alt="" />
    <span>{{userData.name}}</span>
  </div>
  <div class="login-info">
    <ng-template #noAuth>
      <ul class="navbar ml-auto login-register">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <span class="seperator"></span>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Register</a>
        </li>
      </ul>
    </ng-template>
    <ul *ngIf="userData.auth;else noAuth" class="navbar ml-auto logout">
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()" >LogOut</a>
      </li>
    </ul>
  </div>
  <h1 class="logo">
      <a class="navbar-brand" href="#">Tweet<strong>img</strong></a>
  </h1>
  <nav>
      <ul class="navbar mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ContactUs</a>
        </li>
        
  
      </ul>
  </nav>
</header>
